.top-text {
    position: absolute;
    z-index: 3;
    top: 5px;
}

.left-text {
    left: 10px;
}

.middle-text {
    left: 105px
}

.right-text {
    right: 10px
}


.child-tbl {
    border-collapse: collapse;
}
.child-tbl td, .child-tbl th {
    border: 1px solid black;
}
.child-tbl tr:first-child th {
    border-top: 0;
}
.child-tbl tr:last-child td {
    border-bottom: 0;
}
.child-tbl tr td:first-child,
.child-tbl tr th:first-child {
    border-left: 0;
}
.child-tbl tr td:last-child,
.child-tbl tr th:last-child {
    border-right: 0;
}
